{% extends 'YunPan/header.html' %}
{% block body %}
    <style>
        .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            vertical-align: top;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td {
            vertical-align: middle;
        }

        #contest-list-table .form-group {
            margin-bottom: 0;
        }

        .main-bar {
            margin: 16px 0;
        }
    </style>
    <div id="blank" style="height: 50px;"></div>
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>文件</th>
                <th>大小</th>
                <th>上传时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="vertical-middle">
            {% for file in files %}
                <tr>
                    <td name="file_name">{{ file.upload.name }}</td>
                    <td name="file_size">{{ file.upload.size }}</td>
                    <td>{{ file.upload_time }}</td>
                    <td>{% if file.file_type == 'public' %}
                        <button onclick="move_file({{ file.id }})" class="btn btn-info" id="file_type_{{ file.id }}">公共</button>
                    {% else %}
                        <button onclick="move_file({{ file.id }})" class="btn btn-warning" id="file_type_{{ file.id }}">私有</button>
                    {% endif %}
                        <button onclick="delete_file({{ file.id }})" class="btn btn-danger">删除</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $("[name='file_name']").each(function () {
            this.innerText = this.innerText.split('/').pop();
        });

        function formatFileSize(fileSize) {
            if (fileSize < 1024) {
                return fileSize + 'B';
            } else if (fileSize < (1024 * 1024)) {
                var temp = fileSize / 1024;
                temp = temp.toFixed(2);
                return temp + 'KB';
            } else if (fileSize < (1024 * 1024 * 1024)) {
                var temp = fileSize / (1024 * 1024);
                temp = temp.toFixed(2);
                return temp + 'MB';
            } else {
                var temp = fileSize / (1024 * 1024 * 1024);
                temp = temp.toFixed(2);
                return temp + 'GB';
            }
        }

        $("[name='file_size").each(function () {
            this.innerText = formatFileSize(this.innerText / 1);
        })

        function move_file(id) {
            $.get("/move/" + id + "/", function (rst, state) {
                if (state === 'success') {
                    var this_file_type = $("#file_type_" + id);
                    if (this_file_type.text() === '私有') {
                        this_file_type.text('公共');
                        this_file_type.css('background-color', '#5bc0de');
                        this_file_type.css('border-color', '#46b8da');
                    } else {
                        this_file_type.text('私有');
                        this_file_type.css('background-color', '#f0ad4e');
                        this_file_type.css('border-color', '#eea236');
                    }
                }
            })
        }

        function delete_file(id) {
            $.get("/delete/" + id + "/", function (rst, state) {
                if (state === 'success') {
                    location.reload();
                }
            })
        }
    </script>
{% endblock %}